.container{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    padding:5em;
}
.content{
 display: grid;
}
.left{
 grid-column: 1/3;
 text-align: start;
}
.heading{
    font-style:oblique;
}
 .right{
 grid-column: 4/7;
 text-align: start;
}

.table{
    margin-top: 4em;
}

.total{
    text-align: right;
    font-weight:bold;
    
}
.tItems{
    font-weight:normal;
    margin-left: 2em;
    margin-right: 11.5em;   
}
.tPrice{
    font-weight: normal;
    margin-left: 2em;
    margin-right: 3em;
}
